@{
    ViewData["Title"] = "Главная";
}
@using OnlineStore.Core.Abstracts;
@model IEnumerable<IProduct>

@{
    double minPrice = 0;
    if (Model.Any())
    {
        minPrice = Model.Select(p => p.Price).Min();
    }

    double maxPrice = 0;
    if (Model.Any())
    {
        maxPrice = Model.Select(p => p.Price).Max();
    }
}

<section @* style="display:grid; grid-template-columns: 1fr 5fr"*@ class="h-100">
    <form id="mySidenav" class="sidenav" style="display:flex; flex-direction:column;">
        @*<a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>*@
        <label for="search">Поиск товара по названию:</label>
        <input name="search" id="search" type="text" />

        <label for="minPrice">Минимальная сума:</label>
        <input name="minPrice" id="minPrice" type="text" value="@minPrice" />

        <label for="maxPrice">Максимальная сума:</label>
        <input name="maxPrice" id="maxPrice" type="text" value="@maxPrice" />
        <input type="submit" value="Применить" />
    </form>

    <div class="container" style="display: grid; grid-template-columns: repeat(4, 1fr);">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="@product.PathImage" class="card-img-top" alt="@product.Title">
                <div class="card-body">
                    <h5 class="card-title"> @product.Title </h5>
                    <p class="card-text"> @product.AddreviatedDescription() </p>
                    <p class="card-text">цена: @product.Price грн</p>
                    <a asp-action="Details" asp-controller="Content" asp-route-id="@product.Id">Подробнее</a>
                    @*<a href="#" class="btn btn-primary"> Подробнее </a>*@
                </div>
            </div>
        }
    </div>
</section>